<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ex03.Ex03Mapper">
  
  <select id="selectCustomerNameById" resultType="String">
    SELECT CustomerName FROM Customers WHERE CustomerID = #{id}
  </select>
  
  <select id="selectEmployeeFirstNameById" resultType="String">
	SELECT FirstName FROM Employees WHERE EmployeeID = #{id}
  </select>
  
  <select id="selectBoard" resultType="org.zerock.domain.ex02.BoardDto">
  	<!-- 게시물 테이블과 댓글 테이블 조합 -->
  	SELECT b.id, b.title, b.inserted, COUNT(r.id) numOfReply
  	FROM Board b LEFT JOIN Reply r ON b.id = r.board_id
  	GROUP BY b.id
  	ORDER BY id DESC
  </select>
  
  <select id="getBoard" resultType="org.zerock.domain.ex02.BoardDto">
  	SELECT id, title, body, inserted FROM Board WHERE id = #{id}
  	<!-- 쿼리의 ? 에 들어가는 것과 id가 같아야 하는데 id를 머라하지 -->
  </select>
  
  <update id="updateBoard" >
  	UPDATE Board SET title = #{title}, body = #{body} WHERE id = #{id}
  </update>
  
  <delete id="removeBoard">
  	DELETE FROM Board WHERE id = #{id}
  </delete>
  
  <insert id="insertBoard" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
  <!-- useGeneratedKeys : 새로 생선된 키 목록을 가져오라는 attribute  -->
  <!-- keyColumn="id"의 id는 db에 있는 키컬럼 id 임 -->
  <!-- db에서 id를 가져왔으면 javabeans에 등록해줘야 함 그 때 사용하는게
  keyProperty="id" 얘는 자바빈즈의 프로퍼티임 -->
  
  	INSERT INTO Board (title, body, inserted) VALUES (#{title}, #{body}, #{inserted})
  	<!-- 여기서 현재 날짜는 받은적이 없어서 service에 넣어줌 -->  
  </insert>
</mapper>

<!-- org.zerock.mapper.ex03.Ex03Mapper 인터페이스 이름 -->
<!-- select의 id에는 메소드명이 들어가야함 -->
<!-- return 타입이 resultType과 같아야 함 -->
<!-- update, delete, insert는 resultType명을 안써줘도 됨  -->
